@import './Base.scss';

body {
    margin: 0;
    font-family: $theme-font;
    background: $primary-color;
}
  
* {
    box-sizing: border-box;
}

.button {
  background-color: $tertiary-color;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: $theme-font;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
}