.carousel {
    width: 100%;
    position: relative;
    overflow: hidden;
}
  
.carousel__container {
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    padding: 64px 0px;
    overflow-x: scroll;
    width: 100%;
}

.carousel__container::-webkit-scrollbar {
    display: none;
}
  
.carousel__container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}